body {
  /* background-image: url("../img/background1.jpg");
  background-size: cover; */
  background-color: #f1f2f5;
}

.feed {
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background: white;
  box-shadow: 0px 0px 35px -10px;
  position: sticky;
  top: 0;
  width: 100%;
}

header input {
  border: none;
  border-radius: 20px;
  padding-left: 18px;
  padding: 5px 0px 5px 18px;
  background-color: #eff2f5;
}

#foto-perfil {
  border-radius: 50%;
  height: 40px;
}

#panel-control {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 10em;
  margin-right: 6em;
}

#panel-control p {
  margin: auto;
  font-weight: bold;
}

#logo {
  width: 40px;
  margin-right: 1em;
}

header div {
  margin: auto 0 auto 0;
}

#acciones {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

#recetas {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.receta {
  margin: 1em;
  border: 10px solid white;
  box-shadow: 2px 2px 15px 1px;
  cursor: pointer;
  border-radius: 6px;
  background-color: white;
}

#recetas div:hover {
  box-shadow: 2px 2px 15px 5px;
}

#lista {
  width: 25%;
  background-color: #f9ef75;
  position: relative;
  text-align: center;
  padding: 1em;
}

main {
  display: flex;
  padding: 1em;
}

#recetas section {
  display: flex;
  justify-content: space-around;
}

#recetas p {
  margin: 0;
}

#muestra {
  width: 75%;
  margin: auto;
  display: flex;
}

#muestra div {
  /*   border: 1px solid red;
 */
  margin: 5px;
}

#resultado {
  margin: auto;
  width: 70%;
  background-color: #f9ef75;
}

#resultado h1 {
  text-align: center;
}

#resultado p {
  padding: 2em;
}

#menu {
  background-color: rgb(212, 212, 212);
  width: 9em;
  position: absolute;
  z-index: 4;
  left: -9em;
}

#menu li {
  list-style: none;
}
